@media print {
  body {
    width: 700px;
    font-size: 0.7em;
  }

  .print {
    display: inline;
  }

  .noprint {
    display: none;
  }

  .print.detail {
    display: block;
    margin: 0px;
    padding: none;
  }
}
